.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: calc(80vh - 150px);
    width: 90vw;
    padding: 5vh 0;
}

.title {
    font-size: 3em;
    margin-bottom: 2vh;
}

.workCardsContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    row-gap: 5vh;
    justify-content: center;
}

.workCard {
    width: 300px;
    border: var(--bg-light) 2px solid;
    border-radius: 10px;
    margin: 0 2vw;
}

.workCard .workInfos {
    padding: 1em;
    background-color: var(--color-light);
    border-radius: 0 0 10px 10px;
}

.workCard img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 0 50px #000;
}

.workCard h1 {
    margin-bottom: 2vh;
}

.workCard a p {
    font-size: 14px;
    margin-top: 2vh;
    color: var(--color-dark);
    transition: color 0.3s ease;
}

.workCard a:hover p {
    color: var(--color-primary);
}